@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-Oblique.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-BoldOblique.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-Light.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "VictorMono";
  src: url("../fonts/VictorMono/VictorMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VictorMono";
  src: url("../fonts/VictorMono/VictorMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "VictorMono";
  src: url("../fonts/VictorMono/VictorMono-Oblique.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "VictorMono";
  src: url("../fonts/VictorMono/VictorMono-BoldOblique.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "VictorMono";
  src: url("../fonts/VictorMono/VictorMono-Light.ttf");
  font-weight: 100;
  font-style: normal;
}
