<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ project_dir }}/assets/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{ project_dir }}/assets/css/cards.css" type="text/css" />
</head>

<body>
    {% for student in students %}
    <div class="student">
        <div class="school-year">Curso<br>{{ school_year }}</div>
        <div class="title">ALUMNADO</div>
        <div class="group">{{ student.group }}</div>
        {% if student.is_adult() %}
        <div class="adult">&gt;18</div>
        {% endif %}
        <div class="shift">{{ student.long_shift }}</div>

        <div class="name">{{ student.fullname }}</div>
        <div class="cial"><strong>CIAL </strong>{{ student.cial }}</div>
        <div class="exp"><strong>EXP: </strong> {{ student.exp }}</div>
        <div class="id">{{ student.id }}</div>
        <div class="date-of-birth"><strong>NAC: </strong>{{ student.date_of_birth }}</div>
        <div class="list-number"><strong>NLIS </strong>{{ student.list_number }}</div>
        <div class="study">{{ student.study }}</div>

        <div class="profile-pic-wrapper">
            <div class="profile-pic">
                <img src="{{ student.pic }}" />
            </div>
        </div>

        <img class="background" src="{{ project_dir }}/assets/img/background.png" />
        <img class="edu-logo" src=" {{ project_dir }}/assets/img/edu_logo.svg" />
        <img class="ies-logo" src="{{ project_dir }}/assets/img/ies_logo.svg" />
    </div>
    {% endfor %}
</body>

</html>
