<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ project_dir }}/assets/css/tarjetas.css" type="text/css" />
</head>

<body>
    <div id="contenido">
        {{ nombre }}
    </div>
</body>

</html>
