<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ project_dir }}/assets/css/tarjetas.css" type="text/css" />
</head>

<body>
    <div class="nombre">{{ student["Nombre"] }} {{ student["Primer apellido"] }} {{ student["Segundo apellido"] }}</div>

    <!-- Partes fijas -->
    <div class="curso_escolar">Curso<br>{{ school_year }}</div>
    <img class="fondo" src="{{ project_dir }}/assets/img/triada.png" />
    <img class="logo_consejeria" src=" {{ project_dir }}/assets/img/logo_consejeria.png" />
    <img class="logo_centro" src="{{ project_dir }}/assets/img/logo_centro.png" />
</body>

</html>
